<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showNaveBar()"  >
  <a class="navbar-brand" href="#"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
   aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/tasks']" >  {{'task.tasks' | translate }} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/users']" >{{'task.users' | translate }}</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/roles']" >{{'task.Roles' | translate }}</a>
        </li>
    </ul>
    <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"> {{ userName }} <span class="sr-only">(current)</span></a>
        </li>
            <li class="nav-item active">
              <a class="nav-link " style="cursor: pointer;" (click)="logout()"  > {{'logout' | translate }} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <div class="form-group">
            <label for="selectedLangue">  </label>
            <select name="selectedLangue" id="selectedLangue" [(ngModel)]="selectedLangue" (change)="switchLang()"
              class="form-control custom-select custom-select-sm custom-light" >
              <option value="en"> {{ 'English' | translate }} </option>
              <option value="fr"> {{ 'Frensh' | translate }} </option>
            </select>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>