
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mx-auto my-5">
      <!-- <div class="card card-signin my-5">
        <div class="card-body"> -->

            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"> {{ 'task.id' | translate }}</th>
                    <th scope="col"> {{ 'task.name' | translate }} </th>
                    <th scope="col"> {{ 'task.description' | translate }} </th>
                    <th scope="col"> {{ 'task.numSerie' | translate }}</th>
                    <th scope="col"> {{ 'task.dateCreation' | translate }}</th>
                    <th scope="col"> {{ 'task.finaleDate' | translate }} </th>
                    <th scope="col"> {{ 'task.statut' | translate }}</th>
                    <th scope="col"> % {{ 'task.avancement' | translate }} </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let task of tasks; let i=index">
                    <td> {{ task.id }}</td>
                    <td> {{ task.taskName }} </td>
                    <td> {{ task.description }} </td>
                    <td> {{ task.serId }}</td>
                    <td> {{ task.dateCreation | date }} </td>
                    <td> {{ task.dateFin | date }} </td>
                    <td> {{ task.status }}</td>
                    <td> {{ task.pourcent }}</td>
                  </tr>
                </tbody>
              </table>
              <button class="btn btn-sm btn-block btn-primary my-5 " [routerLink]="[ '/tasks/add']"   type="submit">
                {{ 'task.add' | translate }} </button>
        </div>
      </div>
    </div>
  <!-- </div> -->
<!-- </div> -->
